<body class="light-theme slide" id="switch" ng-app="mod2" ng-controller="ctrl2">


    <div class="header">


        <div class="logo">
            <a href="/"><img src="../../img/logo.jpg"></a>
            <p>ChiLi</p>
        </div>

        <div class="nav">

            <div ng-show="theme" ng-click="toggletheme()">
                <span onclick="changetheme()" class="iconify" data-inline="false" data-icon="carbon:moon"></span>
            </div>
            <div ng-hide="theme" ng-click="toggletheme()">
                <span onclick="changetheme()" class="iconify" data-inline="false" data-icon="ic:outline-light-mode"></span>
            </div>
            <div class="ng-cloak userimg" ng-click="popup()" ng-cloak>
                <!-- User Profile Image -->
                <div class="popup-card ng-cloak" ng-show="popupcard" ng-cloak>
                    <div class="popuptext">
                        <!-- Getting USER object from res.locals.user -->
                        <p><%=user.full_name%></p>
                        <div class="popnav1">
                            <a href="/settings"><span class="iconify" data-inline="false" data-icon="carbon:settings" style="color: #ffffff;"></span></a><a href="/settings">Settings</a>   
                        </div>
                        <div class="popnav2">
                            <a href="/logout"><span class="iconify" data-inline="false" data-icon="carbon:logout" style="color: #ffffff;"></span></a><a href="/logout">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        
    </div>

    <div class="container">


        <div>
            <div ng-show="navicon" ng-click="togglenavicon()">
                <span class="iconify" data-inline="false" data-icon="cil:hamburger-menu" style="font-size: 47px;"></span></a>
            </div>

            <div class="ng-cloak sidemenu" ng-hide="navicon" ng-cloak>
                <div class="sidemenu-welcome ng-cloak" ng-cloak>

                    <div>
                        Welcome <br><%=user.user_name%>
                    </div>

                    <div ng-hide="navicon" ng-click="togglenavicon()" style="width:50px;height:50px;padding-right:20px;">
                        <span class="iconify" data-inline="false" data-icon="akar-icons:cross" style="font-size: 40px;"></span>
                    </div>

                </div>

                <div class="dashboard">
                    <p>Dashboard</p>
                    <center><button style="background: #178FFF;" ng-click="createGrp()">Create</button></center>
                    <center><button style="background: #182735;color:#fff" ng-click="joinGrp()">Join</button></center>
                </div>
                
                <%- include('./grpjoin') %>

                <div class="sidemenu-groups">
                    <div class="dashboard-groups">
                        <p>Groups</p>
                        <span><strong><%=user.groups.length%></strong></span>
                    </div>

                    <% user.groups.forEach(function(groups){ %>
                    <div class="group1">
                       <a href="/info/<%= groups._id %>"><span class="iconify" data-inline="false" data-icon="el:group" style="font-size: 45px;"></span></a>
                       <a href="/info/<%= groups._id %>"><span><%=groups.group_name %></span></a>
                    </div>
                    <% }) %>

                </div>
                
            </div>
        </div>


        <div class="container2">
            <div class="maincontent">
            