<!-- Group NAV Footer -->

<div class="bottomnav">
    <div id="roomid" data-test=<%= group._id %>><a href="/chats/<%=group._id%>" class="chatnav" style="background-color: #1FCF51;">
        <span class="iconify" data-inline="false" data-icon="clarity:chat-bubble-solid-badged"></span>
        <span>Chats</span>
    </a></div>
    <div id="newsid" data-test=<%= group._id %>><a href="/news/<%=group._id%>" class="newsnav" style="background-color: #FF804A;">
        <span class="iconify" data-inline="false" data-icon="emojione-monotone:newspaper"></span>
        <span>News</span>
    </a></div>
    <div><a href="/info/<%=group._id%>" class="infonav" style="background-color: #3FB3C3;">
        <span class="iconify" data-inline="false" data-icon="akar-icons:info" style="font-size: 50px;"></span>
        <span>Info</span>
    </a></div>
    <div><a href="/resources/<%=group._id%>" class="resourcenav" style="background-color: #FF6580;">
        <span class="iconify" data-inline="false" data-icon="bx:bxs-share-alt"></span>
        <span>Resources</span>
    </a></div>
    <div id="forumsid" data-test=<%= group._id %>><a href="/forums/<%=group._id%>" class="forumnav" style="background-color: #BA4CCF;">
        <span class="iconify" data-inline="false" data-icon="fluent:people-audience-20-filled"></span>
        <span>Forums</span>
    </a></div>
</div>