<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/chats.css">
    <title>Welcome</title>
</head>
    <%- include('./partials/body') %>
    <div class="chatContainer">
    <div class="chatBox">
        <hr>
        <div class="msgBox" id="output" data-test=<%= user.user_name %>>
            <% if(group.chat_id!=null){ %>
                <% chat.messages.forEach(function(messages){ %>                
                    <div class="userProfile" id="userProfile"><div class="userImg"></div><div style="width:100%"><span id="username" class="userName"><%= messages.user_name %></span><div class="message"><p><%= messages.text %></p><span><%= messages.time.toLocaleTimeString().replace(/:\d{2}\s/,' ')%></span></div></div></div>
                <% }) %> 
            <% } %> 
        </div>

        <div class="sendBox">
            <input type="text" name="" id="input" placeholder="Write a message...">
            <button id="send" type="submit"><span class="iconify" data-inline="false" data-icon="carbon:send-filled" style="color: #ffffff; font-size: 32px; padding:2px; padding-left:5px; margin:0;"></span></button>
        </div>
    </div>
    </div>
    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
    <%- include('./partials/footer') %>
    
