<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/chats.css">
    <title>Welcome</title>
</head>
    <%- include('./partials/body') %>
    <div class="chatContainer">
    <div class="chatBox">
        <hr>
        <div class="msgBox" id="output" data-test=<%= user.user_name %>>
            
        </div>

        <div class="sendBox">
            <input type="text" name="" id="input" placeholder="Write a message...">
            <button id="send" type="submit"><span class="iconify" data-inline="false" data-icon="carbon:send-filled" style="color: #ffffff; font-size: 32px; padding:2px; padding-left:5px; margin:0;"></span></button>
        </div>
    </div>
    </div>
    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
    <%- include('./partials/footer') %>
    
