<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/chats.css">
    <title>Welcome</title>
</head>
    <%- include('./partials/body') %>
    <div class="chatContainer">
    <div class="chatBox">
        <hr>
        <div class="msgBox">
            <div class="userProfile">
                <div class="userImg"></div>
                <div style="width:100%">
                    <span class="userName">user_name</span>
                    <div class="message"><p>message......</p></div>
                </div>
            </div>
            
            <div class="userProfile">
                <div class="userImg"></div>
                <div style="width:100%">
                    <span class="userName">user_name</span>
                    <div class="message"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates rerum perspiciatis nihil voluptatem similique quam temporibus, nisi, dolorem nostrum reprehenderit laborum quisquam modi! Ab magni sunt, officiis porro dignissimos quae?</p></div>
                </div>
            </div>

            <div class="userProfile">
                <div class="userImg"></div>
                <div style="width:100%">
                    <span class="userName">user_name</span>
                    <div class="message"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto similique repellendus earum dolore suscipit quas maxime quasi ipsum, quidem commodi maiores itaque alias dolorum facere neque, aperiam esse deleniti impedit.
                    Quaerat nobis dolor hic nesciunt eos expedita ipsum officiis ducimus, culpa veritatis reprehenderit inventore sunt quod eius odio beatae quae? Dolor aliquid rerum molestiae natus non quia tenetur sequi doloribus.
                    Provident sint aliquid, nobis mollitia omnis eum id velit labore sapiente, culpa explicabo minima excepturi ducimus atque odit, corporis quisquam cupiditate recusandae. Mollitia omnis, optio eum quidem sunt sit nulla.
                    Nobis eaque ullam voluptas. At consequuntur, cum, inventore vitae laboriosam harum nam recusandae facere doloremque id, nihil odio ullam. Commodi sed animi consequatur vero ducimus, facere quaerat rem excepturi error.
                    Maiores pariatur architecto, molestias ut exercitationem cum? Eligendi sapiente, illo autem quidem itaque sint ut fuga consectetur sed facere repellat vel quos error suscipit distinctio nostrum corrupti assumenda? Quidem, dignissimos!</p></div>
                </div>
            </div>

            <div class="userProfile">
                <div class="userImg"></div>
                <div style="width:100%">
                    <span class="userName">user_name</span>
                    <div class="message"><p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa enim mollitia voluptatum dolor quasi. Suscipit perferendis officia magni explicabo quos porro, amet aspernatur voluptate placeat natus doloribus laboriosam eius officiis?
                    Obcaecati, enim ipsa iste ratione dicta ea, fugiat eos deserunt itaque consectetur voluptatum nulla neque, ut quod repellat quaerat fuga atque vitae dolore rerum omnis laboriosam! Sapiente suscipit corrupti voluptatum?</p></div>
                </div>
            </div>

            <div class="userProfile">
                <div class="userImg"></div>
                <div style="width:100%">
                    <span class="userName">user_name</span>
                    <div class="message"><p>message......</p></div>
                </div>
            </div>
        </div>

        

        <div class="sendBox">
            <textarea name="" id="" placeholder="Write a message..."></textarea>
            <button><span class="iconify" data-inline="false" data-icon="carbon:send-filled" style="color: #ffffff; font-size: 32px; padding:2px; padding-left:5px; margin:0;"></span></button>
        </div>
    </div>
    </div>
    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
    <%- include('./partials/footer') %>
    
