<%- include('./partials/header') %>

    <script>
        var roomid = '<%=group._id%>'
    </script>
    <link rel="stylesheet" href="../style/chats.css">
    <title><%=group.group_name%> | Chats</title>
</head>
    <%- include('./partials/body') %>
    <div class="chatContainer" id="chatContainer" data-dp=<%= user.profile_pic %>>
    <div class="chatBox">
        <div id="feedback"></div>
        <hr>
        <div class="msgBox" id="output" data-test=<%= user.user_name %>>
            <!-- Checking if the chat_id is stored in the group Schema, then rendering messages -->
            <% if(group.chat_id!=null){ %>
                <% chat.messages.forEach(function(messages){ %>                
                    <div class="userProfile" id="userProfile"><div class="userImg"><img src="https://avatars.dicebear.com/api/bottts/<%=messages.profile_pic%>.svg"></div><div style="width:100%"><span id="username" class="userName"><%= messages.user_name %></span><div class="message"><p><%= messages.text %></p><span><%= messages.time.toLocaleTimeString().replace(/:\d{2}\s/,' ')%></span></div></div></div>
                <% }) %> 
            <% } %> 
        </div>

        <div class="sendBox">
            <input type="text" name="" id="input" placeholder="Write a message... #<%=group.group_name%>">
            <button id="send" type="submit"><span class="iconify" data-inline="false" data-icon="carbon:send-filled" style="color: #ffffff; font-size: 32px; padding:2px; padding-left:5px; margin:0;"></span></button>
        </div>
    </div>
    </div>
    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
    <%- include('./partials/footer') %>
    
