<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/forums.css">
    <title>Welcome</title>
</head>
    <%- include('./partials/body') %>
    
    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
<%- include('./partials/footer') %>
    
