<%- include('./partials/header') %>

    <link rel="stylesheet" href="../../style/forums.css">
    <title><%=group.group_name%> | Forums </title>
</head>
    <%- include('./partials/body') %>
    <div style="position: relative;">    
    <div class="forumHeader">
        <a href="/forums/<%=group._id%>"><span class="iconify" data-inline="false" data-icon="akar-icons:arrow-back-thick-fill" style="width:30px;height:30px;"></span></a>
        <div class="askQues" ng-click="forum()">
            <button>Ask a Question</button>
        </div>
        <div class="searchQues">
            <input type="text" placeholder="Search Topics">
            <span class="iconify" data-inline="false" data-icon="bx:bx-search-alt" style="margin-right:0px;width:40px;height:40px;"></span>
        </div>
    </div>

    <div class="forumQues">
        <div class="forum-lhs">
            <div class="ques-body">
                <div style="display:flex;">
                    <div class="quesimg"></div>
                    <div class="queshead">
                        <p style="padding-left: 0"><%=question[0].questions.user_name%></p>
                        <b style="font-size: 18px;"><%=question[0].questions.ques_title%></b>
                    </div>
                </div> 
                <p><%=question[0].questions.ques_descr%></p>
            </div>

            <hr>

            <div class="ans-body">
                <div style="width: 300px;font-size: 20px;"><b>2 Answers: </b></div>
                <div class="ans-arr">

                    <div class="ans-container">                        
                        <div class="answerss">
                            <div style="display:flex;">
                                <div class="quesimg"></div>
                                <div class="queshead">
                                    <p>lis_maria</p>
                                    <p>Qeus Tlite Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit tempore neque dicta aperiam, iure corrupti ad aliquam totam optio placeat? Quasi veniam dolores beatae perferendis magnam laudantium tempora facere cum. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore ad itaque repellendus, reiciendis consequatur inventore assumenda, est amet cumque, illo optio id saepe animi rerum rem nobis libero aut maxime.
                                    Aspernatur aut hic aliquid delectus earum, excepturi quos dolor labore veniam nisi, quam numquam vero quis ratione cupiditate possimus? Voluptatum quos corporis exercitationem nobis ipsum sequi tempore ipsa ipsam est?
                                    Cupiditate architecto tenetur accusantium necessitatibus aliquid pariatur? Delectus quis nemo animi ratione sed iusto quaerat minima cupiditate omnis, voluptatibus voluptate porro quia, ducimus eveniet blanditiis molestias provident maxime! Sunt, quod.
                                    Ipsam, vel. Illum corrupti explicabo assumenda porro adipisci amet maxime omnis obcaecati ipsam. Aliquam blanditiis ipsa ducimus impedit velit necessitatibus explicabo voluptatum. Eveniet, mollitia nemo at amet asperiores a nostrum!
                                    Omnis vel facere nobis, velit nostrum sunt similique quis quos debitis alias officia id, autem neque voluptatibus dolores voluptas. Sunt quas similique, sequi cum numquam ullam quibusdam distinctio tempora corrupti.</p>
                                </div>
                            </div> 
                        </div>
                        <div class="ans-votes">
                            <div class="triangle-up"></div>
                            <div style="padding: 5px;">5</div>
                            <div class="triangle-down"></div>
                        </div>                                          
                    </div>
                    <hr>    

                </div>
            </div>
        </div> 

        <div class="forum-rhs">
            <div class="add-ans" ng-click="answer()">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="color: var(--searchF);font-size: 50px;margin-right: 0px;" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16" class="iconify add" data-inline="false" data-icon="bi:plus"><g fill="currentColor"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path></g></svg>
            </div>
        </div>
    </div>

    <div class="ans-form" ng-show="answercard">
        <form name="ask-ques" action="/answer" method="POST">
            <div ><div class="ans-box">
                <label for="answer">Your Answer</label>                
                <textarea name="answer" placeholder="Type your reply..."></textarea>
            </div>
            <div class="ques-post-btn">
                <button type="submit">POST</button>
            </div></div>
        </form>
    </div>

    <div class="forum-modal" ng-show="forumModal">
        <div class="forum-modal-content">
            <div ng-click="forum()" class="closebtn"><span class="iconify" data-inline="false" data-icon="akar-icons:cross" style="font-size: 30px; height:30px;width:30px; " ></span></div>
    
            <form name="ask-ques" action="/askques" method="POST" class="creategrpForm">
                <div>
                    <input type="text" name="ques_title" placeholder="Question Title">
                </div>
                <div class="ques-descr">
                    <textarea name="ques_descr" placeholder="Describe your query"></textarea>
                </div>
                <div class="ques-post-btn">
                    <button type="submit">POST</button></div>
                </div>
            </form>
    
        </div>
    </div>


    
    </div>

    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
<%- include('./partials/footer') %>
    
