<%- include('./partials/header') %>

    <link rel="stylesheet" href="../../style/forums.css">
    <title><%=group.group_name%> | Forums </title>
</head>
    <%- include('./partials/body') %>
    <div style="position: relative;">    
    <div class="forumHeader">
        <a href="/forums/<%=group._id%>"><span class="iconify" data-inline="false" data-icon="akar-icons:arrow-back-thick-fill" style="width:30px;height:30px;"></span></a>
        <div class="askQues" ng-click="forum()">
            <button>Ask a Question</button>
        </div>
        <div class="searchQues">
            <input type="text" placeholder="Search Topics">
            <span class="iconify" data-inline="false" data-icon="bx:bx-search-alt" style="margin-right:0px;width:40px;height:40px;"></span>
        </div>
    </div>

    <div class="forumQues">
        <div class="forum-lhs">

        </div> 

        <div class="forum-rhs">
            <div class="add-ans" ng-click="answer()"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="color: var(--searchF); font-size: 50px; margin-right: 0px; transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 16 16" class="iconify" data-inline="false" data-icon="bi:plus"><g fill="currentColor"><path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path></g></svg></div>            
        </div>
    </div>

    <div class="ans-form" ng-show="answercard">
        <form name="ask-ques" action="/answer" method="POST">
            <div ><div class="ans-box">
                <label for="answer">Your Answer</label>                
                <textarea name="answer" placeholder="Type your reply..."></textarea>
            </div>
            <div class="ques-post-btn">
                <button type="submit">POST</button>
            </div></div>
        </form>
    </div>

    <div class="forum-modal" ng-show="forumModal">
        <div class="forum-modal-content">
            <div ng-click="forum()" class="closebtn"><span class="iconify" data-inline="false" data-icon="akar-icons:cross" style="font-size: 30px; height:30px;width:30px;" ></span></div>
    
            <form name="ask-ques" action="/askques" method="POST" class="creategrpForm">
                <div>
                    <input type="text" name="ques_title" placeholder="Question Title">
                </div>
                <div class="ques-descr">
                    <textarea name="ques_descr" placeholder="Describe your query"></textarea>
                </div>
                <div class="ques-post-btn">
                    <button type="submit">POST</button></div>
                </div>
            </form>
    
        </div>
    </div>


    
    </div>

    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
<%- include('./partials/footer') %>
    
