<%- include('./partials/header') %>

    <link rel="stylesheet" href="/../../style/forums.css">
    <title><%=group.group_name%> | Forums </title>
</head>
    <%- include('./partials/body') %>
    <div>    
        <form name="searchQues" id="searchQues" action="/forums/<%=group._id%>/search" method="post"></form>
    <div class="forumHeader">
        <div class="askQues" ng-click="forum()">
            <button>Ask a Question</button>
        </div>
        <div class="searchQues">
            <input form="searchQues" type="text" placeholder="Search Topics" name="searchQues" required>
            <button form="searchQues" type="submit" style="box-shadow: none;"><span class="iconify" data-inline="false" data-icon="bx:bx-search-alt" style="margin-right:0px;width:40px;height:40px;color: var(--searchF);"></span></button>
        </div>
    </div>

    <div id="forumContent" class="forumContent" data-test=<%= user.user_name %>>
        <% if(group.forum_id!=null && searcharr==null){ %>
            <% forum.questions.forEach(function(post){ %> 
                <a href="/forums/<%=group._id%>/<%=post._id%>" class="ques-block">
                    <div style="display:flex">
                        <div class="userimg"></div>
                        <div class="ques-title">
                            <div style="padding-bottom:5px;">
                                <b><%= post.user_name %></b>
                            </div>
                            <div><%= post.ques_title %></div>
                        </div>
                    </div>
                    <div class="ques-votes">
                        <div class="tooltip">
                            <span class="tooltiptext">0</span>
                        </div>
                        <div><%= post.time.toLocaleDateString(undefined, {month:"short",year:"numeric",day:"numeric"})%>
                            <br><%= post.time.toLocaleTimeString().replace(/:\d{2}\s/,' ')%>
                        </div>
                    </div>
                </a>
            <% }) %> 
        <% } %>



        <% if(searcharr!=null){ %>
            <% searcharr.forEach(function(result){ %> 
                <a href="/forums/<%=group._id%>/<%=result._id%>" class="ques-block">
                    <div style="display:flex">
                        <div class="userimg"></div>
                        <div class="ques-title">
                            <div style="padding-bottom:5px;">
                                <b><%= result.user_name %></b>
                            </div>
                            <div><%= result.ques_title %></div>
                        </div>
                    </div>
                    <div class="ques-votes">
                        <div class="tooltip">
                            <span class="tooltiptext">0</span>
                        </div>
                        <div><%= result.time.toLocaleDateString(undefined, {month:"short",year:"numeric",day:"numeric"})%>
                            <br><%= result.time.toLocaleTimeString().replace(/:\d{2}\s/,' ')%>
                        </div>
                    </div>
                </a>
            <% }) %> 
        <% } %>
    </div>
    

    <div class="forum-modal" ng-show="forumModal">
        <div class="forum-modal-content">
            <div ng-click="forum()" class="closebtn"><span class="iconify" data-inline="false" data-icon="akar-icons:cross" style="font-size: 30px; height:30px;width:30px;" ></span></div>
    
            <form name="ask-ques" class="creategrpForm">
                <div>
                    <input type="text" id="ques_title" name="ques_title" placeholder="Question Title">
                </div>
                <div class="ques-descr">
                    <textarea id="ques_descr" name="ques_descr" placeholder="Describe your query"></textarea>
                </div>
                <div class="ques-post-btn">
                    <button id="post_ques" type="submit" ng-click="forum()">POST</button></div>
                </div>
            </form>
    
        </div>
    </div>

    </div>

    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
<%- include('./partials/footer') %>
    
