<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/forums.css">
    <title><%=group.group_name%> | Forums </title>
</head>
    <%- include('./partials/body') %>
    <div>    
    <div class="forumHeader">
        <div class="askQues" ng-click="forum()">
            <button>Ask a Question</button>
        </div>
        <div class="searchQues">
            <input type="text" placeholder="Search Topics">
            <span class="iconify" data-inline="false" data-icon="bx:bx-search-alt" style="margin-right:0px;width:40px;height:40px;"></span>
        </div>
    </div>

    <div class="forumContent">
        <a href="#" class="ques-block">
            <div style='display:flex'>
                <div class="userimg"></div>
                <div class="ques-title">
                    <div style='padding-bottom:5px;'><b><%=user.user_name%></b></div>
                    <div>lorem ipsum dolor sit amet, consectet</div>
                </div>
            </div>
            <div class="ques-votes">
                <div class="tooltip">
                    <span class="tooltiptext">10</span>
                </div>
                <div>
                    19 June, 2021<br> 5 : 59 PM
                </div>
            </div>
        </a>
        <a href="#" class="ques-block">
            <div style='display:flex'>
                <div class="userimg"></div>
                <div class="ques-title">
                    <div style='padding-bottom:5px;'><b><%=user.user_name%></b></div>
                    <div>lorem ipsum dolor sit amet, consectet</div>
                </div>
            </div>
            <div class="ques-votes">
                <div class="tooltip">
                    <span class="tooltiptext">10</span>
                </div>
                <div>
                    19 June, 2021<br> 5 : 59 PM
                </div>
            </div>
        </a>
        <a href="#" class="ques-block">
            <div style='display:flex'>
                <div class="userimg"></div>
                <div class="ques-title">
                    <div style='padding-bottom:5px;'><b><%=user.user_name%></b></div>
                    <div>lorem ipsum dolor sit amet, consectet</div>
                </div>
            </div>
            <div class="ques-votes">
                <div class="tooltip">
                    <span class="tooltiptext">10</span>
                </div>
                <div>
                    19 June, 2021<br> 5 : 59 PM
                </div>
            </div>
        </a>
        <a href="#" class="ques-block">
            <div style='display:flex'>
                <div class="userimg"></div>
                <div class="ques-title">
                    <div style='padding-bottom:5px;'><b><%=user.user_name%></b></div>
                    <div>lorem ipsum dolor sit amet, consectet</div>
                </div>
            </div>
            <div class="ques-votes">
                <div class="tooltip">
                    <span class="tooltiptext">10</span>
                </div>
                <div>
                    19 June, 2021<br> 5 : 59 PM
                </div>
            </div>
        </a>

    </div>
    

    <div class="forum-modal" ng-show="forumModal">
        <div class="forum-modal-content">
            <div ng-click="forum()" class="closebtn"><span class="iconify" data-inline="false" data-icon="akar-icons:cross" style="font-size: 30px; height:30px;width:30px;" ></span></div>
    
            <form name="ask-ques" action="/askques" method="POST" class="creategrpForm">
                <div>
                    <input type="text" name="ques_title" placeholder="Question Title">
                </div>
                <div class="ques-descr">
                    <textarea name="ques_descr" placeholder="Describe your query"></textarea>
                </div>
                <div class="ques-post-btn">
                    <button type="submit">POST</button></div>
                </div>
            </form>
    
        </div>
    </div>


    
    </div>

    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
<%- include('./partials/footer') %>
    
