<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/welcome.css">
    <title>Welcome</title>
</head>
    <%- include('./partials/body') %>

    <%= group.group_name %>
    <% group.users.forEach(function(users){ %>
        <span><%=users.full_name %></span><br>
    <% }) %>

    <%- include('./partials/footer') %>
    
</body>
</html>