<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/groupinfo.css">
    <title><%=group.group_name%></title>
</head>
    <%- include('./partials/body') %>

    
    <div class="groupinfo-container" style="height:100%">

        <div class="info-header">
            <center>Group Info</center>
            <% if(user.user_name==group.admin_name){ %>
            <button ng-click="deleteGrp()">
            <span class="iconify" data-inline="false" data-icon="carbon:delete" style="color:#fff;margin:0px;width:35px;height:35px;"></span>
            </button>
            <% } %>
        </div>
        <hr>
        
        <div class="info-maincontent">

            <div class="info-lhs">
                <div class="lhs-upper">
                    <div><span class="iconify" data-inline="false" data-icon="el:group" style="font-size: 40px;margin-right:0px"></span></div>
                    <!-- GROUP Object coming from scripts/groupinfo.js -->
                    <span><%=group.group_name%></span> 
                </div>

                <div class="lhs-middle">
                    <span>Group Description: <span><br>
                    <p><%=group.group_descr%></p>
                </div>

                <div class="lhs-lower">
                    <button ng-click="leaveGrp()">Leave</button>
                    <% if(group.admin_name==user.user_name){ %>
                        <span>Group Code :<strong> <%=group.group_code%></strong></span>
                    <% } %>
                </div>

                <div class="ng-cloak leave-modal" ng-show="leaveModal" ng-cloak>


                    <div class="leave-modal-content ng-cloak" ng-cloak>
                
                        <form name="leaveGroup" method="POST" action="/leavegroup/<%=group._id%>" class="creategrpForm">
                        
                        <div class="leave-modal-confirm">
                            Are you sure you want to leave this group ?
                        </div>
                        
                        <div class="leave-modal-button">
                            <button type="submit" style="background: #1FCF51;color:#fff;">Yes I'm sure</button>
                            <button type="reset" ng-click="leaveGrp()" style="background: #C83E57;color:#fff;">I'll stay</button>
                        </div>
                        </form>
                        
                    </div>  
                
                
                </div>



                <div class="ng-cloak leave-modal" ng-show="deleteModal" ng-cloak>


                    <div class="leave-modal-content ng-cloak" ng-cloak>
                
                        <form name="deleteGroup" method="POST" action="/deletegroup/<%=group._id%>" class="creategrpForm">
                        
                        <div class="leave-modal-confirm" style="font-size: 25px;">
                            You are about to delete a group! Every member and all the content will be vanished. Be sure before taking any decision.
                        </div>
                        
                        <div class="leave-modal-button">
                            <button type="submit" style="color:#fff;background: #C83E57;">Yes Delete</button>
                            <button type="reset" ng-click="deleteGrp()" style="background: #1FCF51;color:#fff;">I'm good</button>
                        </div>
                        </form>
                        
                    </div>  
                
                
                </div>
            </div>

            <div class="info-rhs">
                <div class="member-names-box">
                    <span>Group Members</span>
                    <span><%=group.users.length%></span>
                </div>
                
                <div class="members-box">

                    <%group.users.forEach(function(users){%>
                        <div class="member-profiles">
                           <div><img src="https://avatars.dicebear.com/api/bottts/<%=users.profile_pic%>.svg"></div>
                           <p class="name-username" style="display:flex; flex-direction:column">
                                <span><%=users.full_name;%></span>
                                <span class="user-name" style="font-size:16px;margin-top:2px;"><%=users.user_name%></span>
                            </p>
                        </div>
                    <% }) %>

                </div>
            </div>

        </div>

    </div>
    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
    <%- include('./partials/footer') %>
    
</body>
</html>