<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/welcome.css">
    <title>Welcome</title>
</head>
    <%- include('./partials/body') %>

    <%= group.group_name %>

    <%- include('./partials/nav') %>
    <%- include('./partials/footer') %>
    
</body>
</html>