<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/news.css">
    <title><%=group.group_name%> | News</title>
</head>
    <%- include('./partials/body') %>

    News

    </div>
    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
    <%- include('./partials/footer') %>
    
</body>
</html>