<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/news.css">
    <title><%=group.group_name%> | News</title>
</head>
    <%- include('./partials/body') %>

    <div class="news-container">


        <div class="add-news" ng-click="news()">
            <span class="iconify" data-inline="false" data-icon="bi:plus" style="color:#fff;font-size: 50px;margin-right:0px;"></span>
        </div>

        <div class="news-content-column" id="news-content-column" data-test=<%= user.user_name %>>
          <% if(group.news_id!=null){ %>
            <% news.newscontent.forEach(function(posts){ %> 
            <div class="flip-card">

                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <p class="flip-card-mark"><%=posts.time.toLocaleDateString(undefined, {month:'short',year:'numeric',day:'numeric'})%></p>
                    <h1><%=posts.news_title%></h1>
                    <div>
                      <span><%=posts.user_name%></span>
                      <!-- <span style="border-radius:0 0 10px 0;"><%=posts.time.toLocaleTimeString().replace(/:\d{2}\s/,' ')%></span> -->
                    </div>
                  </div>

                  <div class="flip-card-back">
                    <p class="flip-card-mark"><%=posts.time.toLocaleTimeString().replace(/:\d{2}\s/,' ')%></p>
                    <p style="margin: 0 10px 10px;"><%=posts.news_story%></p>
                  </div>
                </div>

            </div> 
            <% }) %> 
          <% } %>
        </div>

        <div class="news-modal ng-hide" ng-show="newsModal">


            <div class="news-modal-content">
        
                <div ng-click="news()" class="closebtn"><span class="iconify" data-inline="false" data-icon="akar-icons:cross" style="font-size: 30px; height:30px;width:30px;" ></span></div>
                <form name="postnews" class="creategrpForm">
                
                <div>
                    <input type="text" name="news_title" id="news_title" placeholder="News Title" required>
                </div>
                
                <div class="news-modal-descr">
                    <textarea name="news_story" id="news_story" placeholder="Write your news content here.." required></textarea>
                </div>
                
                <div class="news-post-button">
                    <button value="submit" id="post_news" ng-click="news()">Post</button>
                </div>
                </form>
                
            </div>  
        
        
        </div>


    </div>
    <%- include('./partials/grpname') %>
    <%- include('./partials/nav') %>
    <%- include('./partials/footer') %>
    
</body>
</html>