<%- include('./partials/header') %>

    <link rel="stylesheet" href="../style/settings.css">
    <title>Welcome</title>
</head>
    <%- include('./partials/body') %>

    <div class="settings-container">


        <div class="settings-lhs">
            <div>
                <!-- Background Color -->
            </div>
            <div class="user-img">
                <img src="https://avatars.dicebear.com/api/bottts/{{userdp}}.svg">
            </div>
        </div>


        <div class="settings-rhs">
            <div class="title">
                Settings
            </div>

            <div class="settings-form" ng-init="userdp='<%=user.profile_pic%>'">
                <form name="user-settings" id="user-settings" action="/settings" method="post">
                    <table cellspacing=30>
                        <td>Name :</td>
                        <th>
                            <input type="text" name="full_name" value="<%=user.full_name%>">
                        </th>
                        <tr>
                            <td>Profile Photo :</td>
                            <th>
                                <input type="text" name="profile_pic" ng-model="userdp" value="<%=user.profile_pic%>" title="FILL IN RANDOM CHARACTERS">
                            </th>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="save-cancel-buttons">
                <button type="submit" form="user-settings" style="background: var(--primarybtn);color:#fff">Save</button>
                <button type="reset" form="user-settings" style="background: transparent;border: 1px solid #687283;">Cancel</button>
            </div>

        </div>


    </div>

    </div>
    
    <%- include('./partials/footer') %>
    